body,
html {
  height: 100%;
  margin: 0;
}
.main,div.transbox {
  border: solid #637463 3px;
  height: 300px;
  margin: 2% auto;
  position: relative;
  width: 300px;
}

.main::after,
.main::before {
  content: '';
  display: table;
  clear: both;
}

h1 {
  text-align: center;
}

.btn {
  display: grid;
  column-gap: 2%;
  row-gap: 5%;
  grid-template-columns: 30% 30%;
  justify-content: center;
  margin-top: 2%;
  text-align: center;
}

.ol {
  font-size: 1.2em;
  left: 15%;
  line-height: 1.3em;
  position: relative;
}

#idText {
  font-size: 1.2em;
  text-align: center;
}
.divider {
  background-image: url(https://source.unsplash.com/weekly?water);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;

  min-height: 200px;
  position: relative;
}
.divider-div {
  left: 50%;
  mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.divider-text {
  color: transparent;
  font-size: 36px;
  font-weight: bold;
  text-transform: capitalize;
}