html, body{
width: 100%;
height: 100%;
}
body {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#leftSide {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: grid;
    align-items: start;
    text-align: center;
    justify-self: start;
    justify-items: center;
    overflow-y: start;
}